name: "CI"

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.png'
      - '**.jpg'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.png'
      - '**.jpg'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Check Flake Evaluation
        run: nix flake check --no-build
